<aside id="sidebar">
  <h2>Recent Posts</h2>
  <ul class="links no-bullet">
    {% for post in site.posts limit: site.recent_posts %}
      <li class="post">
        <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <h2>GitHub Repositories</h2>
  <ul class="links no-bullet">
    <li><a href="#">enterprise-js</a></li>
    <li><a href="#">enterprise-html</a></li>
    <li><a href="#">enterprise-css</a></li>
    <li><a href="#">pulverizr</a></li>
    <li><a href="#">coloured-log</a></li>
  </ul>
</aside>
