<div id="sidebar">
  <h2>Recent Posts</h2>
  <ul class="links no-bullet">
    <li><a href="#">This Is A Post</a></li>
    <li><a href="#">Here’s Another Post</a></li>
    <li><a href="#">Awesome Post</a></li>
    <li><a href="#">Don’t You Like My Posts</a></li>
  </ul>
  <h2>GitHub Repositories</h2>
  <ul class="links no-bullet">
    <li><a href="#">enterprise-js</a></li>
    <li><a href="#">enterprise-html</a></li>
    <li><a href="#">enterprise-css</a></li>
    <li><a href="#">pulverizr</a></li>
    <li><a href="#">coloured-log</a></li>
  </ul>
</div>
