$color-accent: #f00;
$color-text: #444;

@font-face {
  font-family: 'Quicksand';
  src: url(font-path('Quicksand-Light.eot')); /* IE9 Compat Modes */
  src: url(font-path('Quicksand-Light.eot') + '?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url(font-path('Quicksand-Light.woff')) format('woff'), /* Modern Browsers */
       url(font-path('Quicksand-Light.ttf'))  format('truetype'), /* Safari, Android, iOS */
       url(font-path('Quicksand-Light.svg') + '#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Quicksand';
  src: url(font-path('Quicksand-Regular.eot')); /* IE9 Compat Modes */
  src: url(font-path('Quicksand-Regular.eot') + '?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url(font-path('Quicksand-Regular.woff')) format('woff'), /* Modern Browsers */
       url(font-path('Quicksand-Regular.ttf'))  format('truetype'), /* Safari, Android, iOS */
       url(font-path('Quicksand-Regular.svg') + '#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Quicksand';
  src: url(font-path('Quicksand-Bold.eot')); /* IE9 Compat Modes */
  src: url(font-path('Quicksand-Bold.eot') + '?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url(font-path('Quicksand-Bold.woff')) format('woff'), /* Modern Browsers */
       url(font-path('Quicksand-Bold.ttf'))  format('truetype'), /* Safari, Android, iOS */
       url(font-path('Quicksand-Bold.svg') + '#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
}

::-moz-selection {
  color: #fff;
  background: red;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: red;
  text-shadow: none;
}

html {
}

body {
  color: $color-text;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, sans-serif;
  @include background(#111 image-url("textures/irongrip.png"));
  @include background-size(300px 301px);

  @media (min-width: 2048px) {
    zoom: 1.25;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $color-text;
}

h1, h2,
.branded {
  font-family: "Quicksand", sans-serif;
}

h1 {
  border-bottom: 1px solid #dbdbdb;
  margin-top: 6px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
  margin-bottom: 0px;
}

a {
  color: $color-text;
  @include transition(color 0.15s ease-in-out);
}

a:focus {
  outline: 1px dotted red;
}

p {
  font-size: 16px;
}

p a,
dd a {
  color: $color-accent;
  text-decoration: underline;
}

dt {
  font-weight: bold;
}

code {
  @include text-shadow(1px 1px 0 #fff);
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  overflow: visible;
  position: static;
}

#page-header-body {
  $padding: 60px;
  @include background(#fafafa image-url("textures/debut_light.png"));
  @include background-size(200px 200px);
  @include box-shadow(0 5px 5px rgba(0, 0, 0, 0.5));
  padding-bottom: $padding;
  
  @include respondTo(mediumScreen) {
    padding-bottom: $padding / 2;
  }
  
  @include respondTo(smallScreen) {
    padding-bottom: $padding / 3;
  }
}

.links {
  li {
    $border: 1px solid #dbdbdb;
    border-bottom: $border;
    padding: 5px 0;
    
    &:first-child {
      border-top: $border;
    }
    
    a {
      text-decoration: underline;
    }
  }
}
