#debugger {
  @include background(#191919 image-url("textures/outlets.png"));
  @include background-size(4px 8px);
  @include transition(margin-top 0.5s ease-in-out);
  margin-top: -336px;
  
  &.open {
    margin-top: 0;
  }
}

#debugger-output {
  $foreground: #eee;
  
  color: $foreground;
  font-family: monospace;
  height: 270px;
  overflow: scroll;
  
  em {
    color: lighten($foreground, 25%);
    font-style: normal;
    font-weight: bold;
  }
  
  .message {
    border-bottom: 1px solid #333;
  }
  
  .from-user {
    opacity: 0.5;
    
    &:before {
      color: darken($foreground, 25%);
      content: "> ";
    }
  }
}

#debugger-form {
  input {
    color: #fff;
    font-family: monospace;
    font-size: 14px;
    background-color: #212121;
    border: 0;
    width: 100%;
    margin: 10px 0 20px 0;
    padding: 10px;
  }
}

#debugger-trigger {
  line-height: 25px;
  text-align: right;
  background: red;
  height: 25px;
  
  a {
    color: #fff;
    font-size: 14px;
    @include text-shadow(1px 1px 0 rgba(0, 0, 0, 0.75));
    @include transition(opacity 0.25s ease-in-out);
    
    &:hover {
      opacity: 0.75;
    }
  }
}

#nyancat {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -129px;
  margin-top: -90.5px;
  
  @include animation(nyancat 4s linear infinite);
}

@include keyframes(nyancat) {
  0% {
    left: 0%;
    margin-left: -258px;
  }
  100% {
    left: 100%;
    margin-left: 0;
  }
}

html.grayscale {
  @include filter(grayscale(100%));
}
