#blog {
  .meta {
    color: #898989;
    font-weight: bold;
  }
  
  .comment-count {
    border-left: 2px solid #898989;
    padding-left: 5px;
  }
}

#blog-archives {
  h2 {
    float: left;
    margin-right: 20px;
  }
  
  article {
    float: left;
  }
}
