#home {
  #page-body {
    p {
      font-size: 56px;
      font-weight: 700;
      line-height: 1.15em;
      text-align: center;
      margin: 0 auto;
      
      @include respondTo(mediumScreen) {
        font-size: 41px; 
      }
      
      @include respondTo(smallScreen) {
        font-size: 20px;
      }
      
      em {
        color: red;
        font-style: normal;
      }
    }
  }
  
  .icon-heart {
    $margin: 60px;
    $shadow: rgba(0, 0, 0, 0.75);
    
    color: red;
    @include text-shadow(5px 5px 0 $shadow);
    display: block;
    margin-top:    $margin;
    
    @include respondTo(mediumScreen) {
      margin-top: $margin / 2;
    }
    
    @include respondTo(smallScreen) {
      @include text-shadow(3px 3px 0 $shadow);
      margin-top:    $margin / 3;
    }
  }
}
