#home {
  #page-body {
    p {
      font-size: 48px;
      font-weight: 700;
      line-height: 1.15em;
      text-align: center;
      margin: 0 auto;
      
      @include for-medium() {
        font-size: 40px; 
      }
      
      @include for-small() {
        font-size: 20px;
      }
      
      em {
        color: red;
        font-style: normal;
      }
    }
  }
  
  .icon-heart {
    $margin: 60px;
    
    color: red;
    @include text-shadow(5px 5px 0 rgba(0, 0, 0, 0.75));
    display: block;
    margin-top:    $margin;
    margin-bottom: $margin;
    
    @include for-medium() {
      margin-top: $margin / 2;
    }
    
    @include for-small() {
      margin-top:    $margin / 3;
    }
  }
}
